/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.appx {
    -webkit-transform: translate3d(0,0,0);
}

/* Portrait layout (default) */
.appNOLONGER {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    /*position:absolute;*/             /* position in the center of the screen */
    /*left:50%;*/
    /*top:50%;*/
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .appNOLONGER {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.app {
  --background: #fff !important;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

p {
  color:#ddd;
  font-size: 0.9rem;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/*#region MStph*/

/*#region Icons*/
.homeIcn {
  background: url('images/home.svg') no-repeat scroll 0% 0% / cover  transparent;
  right: 10px;
  margin-top: -35px;
  width: 24px;
  height: 24px;
}

.phoneIcn {
  background: url('images/call.svg') no-repeat scroll 0% 0% / cover  transparent;
  position: absolute;
  right: 10px;
  margin-top: -35px;
  width: 24px;
  height: 24px;
}

.emailIcn {
  background: url('images/email.svg') no-repeat scroll 0% 0% / cover  transparent;
  position: absolute;
  right: 10px;
  margin-top: -35px;
  width: 24px;
  height: 24px;
}

.smsIcn {
  background: url('images/chat.svg') no-repeat scroll 0% 0% / cover  transparent;
  position: absolute;
  right: 10px;
  margin-top: -35px;
  width: 24px;
  height: 24px;
}

.locationIcn {
  background: url('images/location.svg') no-repeat scroll 0% 0% / cover  transparent;
  position: absolute;
  right: 10px;
  margin-top: -35px;
  width: 24px;
  height: 24px;
}

.headIcn {
  background: url('images/user.svg') no-repeat scroll 0% 0% / cover  transparent;
  position: absolute;
  right: 10px;
  margin-top: -35px;
  width: 24px;
  height: 24px;
}

.urlIcn {
  background: url('images/view.svg') no-repeat scroll 0% 0% / cover  transparent;
  position: absolute;
  right: 10px;
  margin-top: -35px;
  width: 24px;
  height: 24px;
}

.prevIcn {
  background: url('images/back.svg') no-repeat scroll 0% 0% / cover  transparent;
  position: absolute;
  margin-top: 26px !important;
  width: 24px;
  height: 24px;
}
/*#endregion*/

a, h1, h2, h3, h4,h5 {color: #fff; text-decoration:none; margin: 0}
.fright {float: right !important;}
.list > li img {
    width: 55px;
    height: 45px;
    float: left;
    margin-top: 0px;
    margin-right: 8px;
}
.list > li div
{
  margin: 0;
}
.chevron
{
  background: url('images/next_blue.svg') no-repeat scroll 0% 0% / cover  transparent;
  position: absolute;
  right: 10px;
  margin-top: -15px;
  width: 24px;
  height: 24px;
}

.chevron2
{
  background: url('images/next_blue.svg') no-repeat scroll 0% 0% / cover  transparent;
  position: absolute;
  right: 10px;
  
  width: 24px;
  height: 24px;
}

.plus {
  background: url('images/plus.svg') no-repeat scroll 0% 0% / cover  transparent;
  position: absolute;
  left: 10px;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.topcoat-icon--back
{
  background: url('../img/back.svg') no-repeat scroll 0% 0% / cover  transparent;
  position: absolute;
  right: 12px;
  top: 22px;
}

#bottom-nav
{
  position: fixed;
  bottom:0;
  width: 100%;
}

.topcoat-tab-bar__button {
  width: 100%;
  padding-top: 5px !important;
}

.plusMinusToggle {
  width: 6px;
  display: inline-block;
}

.subHeader {
  padding: 0.25rem 1.25rem 0.25rem 1.25rem;
}
.details h1 {
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}
.details h2 {
  font-size: 20px;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
}
.details h3 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
}

.fRight {float: right !important;}

.firstContent {
  margin-top: 50px !important;
}

.topFixedBar {
  position: fixed; top: 0; left: 0; width: 100%; z-index: 444;
}

.contactImg {
  max-height: 70px;
}

.lstItmDesc {
  width:94%; display: block;
}
.town {
  background-color: #50C8E8 !important;
  color: #fff !important;
}
.town2 {
  background-color: #eee !important;
  color: #222 !important;
}
.state {
  background-color: #50C8E8 !important;
  color: #fff !important;
  text-transform: uppercase;
}
.blackH2 {
  background-color: #222 !important;
  color: #fff !important;
}
i {
  color:#50C8E8;
  font-size: 22px;
}

.miniIconTxt {
  font-size: 12px;
  font-weight: normal;
  display: block;
}
select {
  padding: 5px;
  font-size: 20px;
  width: 90%;
}
.pad10 {
  padding: 10px !important;
}
.marg10 {
  margin: 10px !important;
}
.pad1_25rem {
  padding: 1.25rem;
}
.centAlign {
  text-align: center;
}

.firmList li div {
  color: #fff;
}

.list li div, .list li span.lstSpan {
  display:inline-block;
  width: 98%;
}

.list li:active {
  background-color: #333;
}

.chevron:active {
  color: #333;
}
.bottomSpace {
  margin-bottom: 50px;
}
.topcoat-tab-bar {
  width: 100%;
}

.topcoat-tab-bar button {
  height: 50px;
}
/*#endregion*/

/*#region nganimate*/
.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

.ngslide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.ngslide.ng-enter,
.ngslide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.ngslide.ng-enter {
    left: 100%;
}
.ngslide.ng-enter-active {
    left: 0;
}
.ngslide.ng-leave {
    left: 0;
}
.ngslide.ng-leave-active {
    left: -100%;
}
/*#endregion*/

/*#region Details Form*/
.details .icn  {
  margin-top: -12px;
}
.details span {
  color: #bbb;
}
.topcoat-list__item div {
  color: #eee;
}
.topcoat-list__item span {
  color: #bbb;
  font-size: 14px;
}
/*#endregion*/

