&nbsp;
<div class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.g('#')">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h4>{{helpers.getCountryName(country.n)}}</h4>
  </div>
</div>

<div class="firstContent">

  <div class="pad10">
    <label class="topcoat-radio-button" ng-click="helpers.g('/china/' + country.id)">
      <input type="radio" name="topcoat">
      <div class="topcoat-radio-button__checkmark"></div>
      Member Firms
    </label>
    &nbsp;&nbsp;
    <label class="topcoat-radio-button">
      <input type="radio" name="topcoat" checked="checked">
      <div class="topcoat-radio-button__checkmark"></div>
      Contacts
    </label>
  </div>

  <input type="search" ng-model="search" class="topcoat-search-input--large" placeholder="Type text to filter the list">

  <div class="prevNextBtnDiv" ng-show="(contacts | filter:searchDelayedFunc | filter:{cid: country.id}:true).length > helpers.paging.pageSize" mstph-paginate mstph-paginate-total-item-count="{{(contacts | filter:searchDelayedFunc | filter:{cid: country.id}:true).length}}" mstph-paginate-page-size="{{helpers.paging.pageSize}}"></div>

  <ul class="topcoat-list__container list firmList">
    <li ng-click="helpers.c(contact.id)" class="topcoat-list__item chevronLi" ng-repeat="contact in contacts | filter:searchDelayedFunc | filter:{cid: country.id}:true | orderBy:'ln' | startFrom: helpers.paging.startFrom | limitTo: helpers.paging.pageSize">
      <div>{{contact.n}}</div>
      <div once-show="helpers.hasValueFunc(contact.r)" once-html="contact.r + '<br/>'"></div>
      <span class="lstSpan" once-html="contact.f + contact.l"></span>
    </li>
  </ul>

  <p ng-show="(contacts|filter:searchDelayedFunc | filter:{cid: country.id}:true).length == 0 && helpers.showLoading == false" class="pad10">
    No result found mathing the search criteria.
  </p>

  <p ng-show="helpers.showLoading == true" class="pad10 centAlign">
    <i class="fa fa-circle-o-notch fa-spin"></i> Loading data...
  </p>

</div>

<div class="bottomSpace"></div>

