&nbsp;
<div class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter">
    <a class="icn prevIcn" href="#">&nbsp;&nbsp;&nbsp;</a>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h4>{{helpers.getCountryName(country.n)}}</h4>
  </div>
</div>

<div class="firstContent">

  <div class="pad10">
    <label class="topcoat-radio-button" ng-click="helpers.g('/china/' + country.id)">
      <input type="radio" name="topcoat">
      <div class="topcoat-radio-button__checkmark"></div>
      Member Firms
    </label>
    &nbsp;&nbsp;
    <label class="topcoat-radio-button">
      <input type="radio" name="topcoat" checked="checked">
      <div class="topcoat-radio-button__checkmark"></div>
      Contacts
    </label>
  </div>

  <input type="search" ng-model="search" class="topcoat-search-input--large" placeholder="Type text to filter the list">

  <ul class="topcoat-list__container list firmList">
      <li ng-click="helpers.c(contact.id)" class="topcoat-list__item" ng-repeat="contact in contacts | filter:search | filter:{cid: country.id}:true | orderBy:'ln'">
        <div>{{contact.n}}</div>
        <div ng-show="helpers.hasValueFunc(contact.r)">{{contact.r}}<br /></div>
        <span class="lstSpan" ng-bind-html="contact.f + contact.l"></span>
        <span class="chevron">&nbsp;&nbsp;&nbsp;</span>
      </li>
    </ul>

</div>

<div class="bottomSpace"></div>

