&nbsp;
<div class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter">
    <a class="icn prevIcn" href="#">&nbsp;&nbsp;&nbsp;</a>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h4>Committees</h4>
  </div>
</div>

<div class="firstContent">
  <p class="pad10">
    Tap on a committee below to view its members. 
  </p>
</div>

<div ng-repeat="comm in comms" class="topcoat-list">
  <h5 class="topcoat-list__header pad10 town" ng-click="toggleComm(comm.id);">
    <i class="fa fa-angle-double-down fright" ng-show="!isVisible(comm.id)" style="color: #777"></i>
    <i class="fa fa-angle-double-up fright" ng-show="isVisible(comm.id)" style="color: #777"></i>
    {{comm.n}}
    <br />
    {{comm.n2}} &nbsp;
    
  </h5>

  <div id="comm{{comm.id}}" ng-show="isVisible(comm.id)">
    
      <ul class="list firmList">
        <li ng-click="helpers.c(member.id)" class="topcoat-list__item" ng-repeat="member in comm.members">
          <div>{{member.n}} <span ng-show="helpers.hasValueFunc(member.r)">- <em>{{member.r}}</em></span></div>
          <span ng-show="helpers.hasValueFunc(member.l)" class="lstSpan">{{member.l}}</span>
          <span class="lstSpan">{{member.eml}}</span>
          <span class="icn chevron">&nbsp;&nbsp;&nbsp;</span> 
        </li>
      </ul>
  </div>
</div>

<div class="bottomSpace"></div>