&nbsp;
<div class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter h100pc">
    <div class="prevIcnDiv" ng-click="helpers.g('#')">
      <span class="icn prevIcn">&nbsp;</span>
    </div>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h4>Search Results</h4>
  </div>
</div>

<div class="firstContent" extend-height>

  <input type="search" ng-model="search" class="topcoat-search-input--large" placeholder="Type text to filter results">
  
  <div class="prevNextBtnDiv" ng-show="(contacts | filter:searchDelayedFunc).length > helpers.paging.pageSize" mstph-paginate mstph-paginate-total-item-count="{{(contacts | filter:searchDelayedFunc).length}}" mstph-paginate-page-size="{{helpers.paging.pageSize}}"></div>

  <div>
    <ul class="topcoat-list__container list firmList" ng-show="(contacts | filter:searchDelayedFunc).length > 0">
      <li ng-repeat="contact in contacts | filter:searchDelayedFunc | orderBy:'ln' | startFrom: helpers.paging.startFrom | limitTo: helpers.paging.pageSize" ng-click="helpers.c(contact.id)" class="topcoat-list__item chevronLi">
        <div once-html="contact.n"></div>
        <div once-show="helpers.hasValue(contact.r)" once-html="contact.r + '<br/>'"></div><br />
        <span once-html="contact.f" class="bold"></span>
        <span once-text="contact.l"></span>
      </li>
    </ul>
  </div>

  <p ng-show="(contacts|filter:searchDelayedFunc).length == 0 && helpers.showLoading == false" class="pad10">
    No result found mathing the search criteria.
  </p>

  <p ng-show="helpers.showLoading == true" class="pad10 centAlign">
    <i class="fa fa-circle-o-notch fa-spin"></i> Loading data...
  </p>

</div>

<div class="bottomSpace"></div>

