&nbsp;
<div class="topcoat-navigation-bar topFixedBar">
  <div class="topcoat-navigation-bar__item left quarter">
    <a class="icn prevIcn" href="#">&nbsp;&nbsp;&nbsp;</a>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h4>Search Results</h4>
  </div>
</div>

<div class="firstContent">

  <input type="search" ng-model="search" class="topcoat-search-input--large" placeholder="Type text to filter results" ng-show="(contacts|filter:search).length > 0">

  <ul class="topcoat-list__container list firmList" ng-show="(contacts|filter:search).length > 0">
    <li ng-click="helpers.f(firm.id)" class="topcoat-list__item" ng-repeat="contact in contacts | filter:search | orderBy:'n'">
      <div ng-bind-html="contact.n"></div>
      <span>{{contact.f}}</span>
      <span>{{contact.l}}</span>
      <span class="chevron2">&nbsp;&nbsp;&nbsp;</span>
    </li>
  </ul>

  <p ng-show="!((contacts|filter:search).length > 0)" class="pad10">
    No result found mathing the search criteria.
  </p>

</div>

<div class="bottomSpace"></div>

