&nbsp;
 <div class="details">
    
  <div class="topcoat-navigation-bar topFixedBar">
    <div class="topcoat-navigation-bar__item left quarter">
      <span class="icn prevIcn" onclick="javascript:history.go(-1)">&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div class="topcoat-navigation-bar__item center half">
      <h4>Firm Address</h4>
    </div>
  </div>

  <div class="subHeader firstContent">
    <h3 ng-bind-html="firm.n"></h3>
    <h4>{{firm.l}}</h4>
  </div>

  <ul class="topcoat-list__container list">

    <li class="topcoat-list__item" ng-show="helpers.hasValueFunc(firm.ad)">
      <a href="#/fa/{{firm.id}}">
        <p ng-bind-html="firm.ad"></p>     
      </a>
    </li>

    <li class="topcoat-list__item" ng-show="helpers.hasValueFunc(firm.mad)">
      <a href="#/fa/{{firm.id}}">
        <div>Mailing Address</div>
        <p ng-bind-html="firm.mad"></p>     
      </a>
    </li>

    <li class="topcoat-list__item" ng-show="helpers.hasValueFunc(firm.f)">
      <a href="tel:{{firm.t}}">
        <div>Facsimile</div>
        <p>{{firm.f}}</p>      
      </a>
    </li>

  </ul>
</div>

<div class="bottomSpace"></div>