&nbsp;
<div>
    <div class=" pad10 centAlign" style="margin:auto">
        <img src="img/logo/fullLogo.png" style="width: 200px; margin:auto; "/>
    </div>
    
    <div class="pad10 centAlign" ng-hide="finishedLoadingCountries">
        <h4>LOADING DATA</h4>
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    
    <div class="pad10 centAlign" ng-show="finishedLoadingCountries">
        <br />
        <h4>To find a firm or a contact, please select a country below</h4>
        <br />
        <select id="ddlCountry" ng-options="country.id as country.n for country in countries" ng-model="selectedCountryId" ng-change="redirectToCountry()">
            <option value="">- Pick a country -</option>
        </select>
        
    </div>
    
</div>

<div class="bottomSpace"></div>