<img id="background-img" class="bgimg" src="img/tabletPortrait2.png" alt="" />
<div class="homeWrapper" style="text-align: center">
  
  <div style="background: #fff; margin-top:2px" > 
    <div class="pad10 centAlign">
      <img ng-show="helpers.isOnline()" src="img/logo/fullLogo2.png"/>
    </div>
  </div>

  <div style="font-size: 0.8rem; padding: 10px; text-transform: uppercase; border-top: 1px solid #eee">International Directory</div>

  

  <div class="loading" ng-hide="!(helpers.showLoading)"><i class="fa fa-circle-o-notch fa-spin"></i></div>

  <div class="pad10 centAlign" ng-hide="finishedLoadingCountries">
    <h4>LOADING DATA...</h4>
    <br />
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>
  
  <div ng-show="finishedLoadingCountries">
    <ul class="topcoat-list__container list contactList" style="border-top: 1px solid #eee;">
      <li class="topcoat-list__item" style="border-top: 0; border-bottom: 1px solid #eee; padding: 0.7rem">
        
        <div>
          <select id="ddlCountry" ng-options="country.id as country.n for country in countries" ng-model="selectedCountryId" ng-change="redirectToCountry()">
            <option value="">- Pick a country -</option>
          </select>
        </div>
      </li>

      <li class="topcoat-list__item" style="border-top: 0; border-bottom: 1px solid #eee; padding: 0.7rem">
        <a name="searchBox"></a>
        <input style="width: 92%" type="search" ng-model="search" class="topcoat-search-input--large" placeholder="Or just search..." onfocus="window.scrollTo(0, 200)">
        <div class="centAlign">
          <button style="width: 115px" class="topcoat-button--cta" ng-click="gotoFirmSearch(search)">Find Firm</button> 
         
          <button class="topcoat-button--cta" ng-click="gotoContactSearch(search)" >Find Contact</button>
        </div>
      </li>

    </ul>

    
  </div>

  <div class="sm centAlign pad10" style="padding-bottom: 0">
    <a title="Follow MSIL on Twitter" target="_blank" href="http://twitter.com/MooreStephens"><img alt="Follow us on Twitter" src="http://www.moorestephens.com/Images/twitter.png" height="25"></a>
    <a title="Follow MSIL on LinkedIn" target="_blank" href="http://uk.linkedin.com/groups?gid=4651668"><img alt="Follow us on LinkedIn" src="http://www.moorestephens.com/Images/linkedin.png" height="25"></a>
    <a title="Follow MSIL on Facebook" target="_blank" href="https://www.facebook.com/pages/Moore-Stephens-International/666325096770795"><img alt="Follow us on Facebook" src="http://www.moorestephens.com/Images/fb.png" height="25"></a>
  </div>

  <!--<div class="homeBottomXXX sm pad10 centAlign">
    
  </div>-->

</div>

